body {
    display: flex;
    flex-direction: column;
}

.sections {
    height: 160px;
    margin: 1vw;

}
.one {
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.v-rectangle {
    height: 60px;
    width: 20px;
    background-color: purple;
    margin-left: 10px;
    margin-top: 90px;
    
}
.h-rectangle {
    height: 135px;
    width: 400px;
    background-color: green;
    margin-left: 20px;
}
.circle {
    height: 135px;
    width: 135px;
    background-color: lightblue;
    border-radius: 50%;
    margin-left: 20px;
}


.two {
    border-style: dotted;
    border-color: black;
}
.three {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: navy;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    margin: 0px;

}

.box {
    position: absolute;
    height: 135px;
    width: 94vw; 
    margin-left: 1vw;
    margin-top: 10px;
    background-color: rgb(252, 219, 219);
}

.box2 {
    position: absolute;
    height: 135px;
    width: 94vw; 
    margin-left: 1.45vw;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.624);
    z-index: -1;
}
